<nav id="header" class="fixed w-full z-30 top-0 navc">

	<div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
			
		<div class="pl-4 flex items-center">
			<a class="toggleColour text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl"  href="#"> 
				<!--Icon from: http://www.potlabicons.com/ -->
				 Barber Shop
			</a>
		</div>

		<div class="block lg:hidden pr-4">
			<button id="nav-toggle" class="flex items-center p-1 text-orange-800 hover:text-gray-900">
				<svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
			</button>
		</div>

		<div class="w-full flex-grow lg:flex lg:items-center lg:w-auto lg:block mt-2 lg:mt-0  lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
			<ul class="list-reset mt-4 lg:flex justify-end flex-1 items-center">
				<%# <% if user_id == 1? %> 
				<%# <li class="mr-3"> %>
					<%# <%= link_to 'Admin dashboard',  admin_root  , :class => 'mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75' %> 
				<%# </li> %>
				<%# <% end %> 
				<% if current_user and current_user.id == 3%>
				<li class="mr-3">
				<%= link_to 'Admin dashboard',  admin_root_url , :class => ' hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg' %>
				</li>
				<% end%>
				<% unless user_signed_in? %>
				<li class="mr-3">
					<%= link_to 'Login',  new_user_session_path  , :class => 'mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75' %>
				</li> 
				<li class="mr-3"> 
					<%= link_to 'Register',  new_user_registration_path , :class => 'mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75' %>
				</li>
				<% else %>
				<li class="mr-3">
					<%= link_to 'Appointments',  appointments_path  , :class => 'mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75' %>
				</li> 
				<%# <li class="mr-3">  %>
					<%# <%= link_to 'edit',  edit_user_registration_path , method: :edit , :class => 'mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75' %>
				<%# </li> %>
				<li class="mr-3">
          			<%= link_to 'logout', destroy_user_session_path , method: :delete , :class => 'mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75' %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>


	
	
	<hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
</nav>

  